<div class="wrapper wrapper_padding clearfix">
	<div class="sidebar col-4 sidebar-margin">
		<%= render 'layouts/contact' %>
			<br />
			<br />
			<%= render 'layouts/card' %>
	</div>
	<div class="col-3 body-text">

	<h4>Bookmarks</h4>
	<% @categories.each do |category| %>
		<hr />
		<h3><%= category.name %></h3>
		<% category.bookmarks.each do |bm| %>
			<ul>
				<li><%= link_to bm.title, bm.url %></li>
			</ul>
		<% end %>
	<% end %>
	</div>
</div>
