<div class="wrapper wrapper_padding clearfix">
	<div class="sidebar col-4 sidebar-margin">
		<%= render 'layouts/contact' %>
			<br />
			<br />
			<%= render 'layouts/card' %>
	</div>
	<div class="col-3 body-text">

	<h4>tekmarks</h4>		 
	<% @bookmarks.where(parent_id: '311').each do |bm| %>

		<% binding.pry %>

		<%= link_to bm.title, bm.url %> |
	<% end %>
	</div>
</div>
