/* line 1, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
.col-1,
.col-2,
.col-3,
.col-4,
.col-ref {
  float: left;
}

/* line 9, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
.sidebar {
  font-size: .85em;
  float: left;
  width: 20%;
  padding: 3% 2% 0 .5%;
}

/* line 16, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
.col-1 {
  width: 95%;
  padding: 2%;
}

/* line 21, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
.col-2 {
  width: 50%;
  padding: 2%;
}

/* line 26, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
.col-3 {
  width: 75%;
  padding: 2%;
}

/* line 31, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
.col-4 {
  width: 20%;
  padding: 2%;
}

/* line 36, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
.col-ref {
  width: 30%;
  padding: 1%;
}

/* line 41, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
a {
  color: navy;
  font-weight: 700;
  text-decoration: none;
}

/* line 47, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
a:hover {
  color: darkblue;
}

/* line 51, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
#main_footer {
  padding: 2.5em 5%;
  border-top: 1px solid #9a9da4;
}

/* line 56, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
#main_footer .copyright {
  float: left;
  font-size: .9em;
  margin: 0;
}

/* line 62, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
#main_footer nav {
  float: left;
}

/* line 66, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
#main_footer nav i {
  margin-left: 1em;
  padding-top: .2em;
}

/* line 71, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
#main_footer a {
  color: navy;
  font-weight: 700;
  text-decoration: none;
}

/* line 77, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
#main_footer a:hover {
  color: cyan;
}

/* line 81, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
#main_footer {
  padding: 2.5em 5%;
  border-top: 1px solid #9a9da4;
}

/* line 86, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
#main_footer .copyright {
  float: left;
  font-size: .9em;
  margin: 0;
}

/* line 92, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
#main_footer nav {
  float: right;
}

/* line 96, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
#main_footer nav i {
  margin-left: 1em;
  padding-top: .2em;
}

/* line 101, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
#main_footer a {
  color: navy;
  font-weight: 700;
  text-decoration: none;
}

/* line 107, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_welcome.scss */
#main_footer a:hover {
  color: cyan;
}

/* line 1, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#posts_wrapper {
  text-align: center;
}

/* line 5, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#posts_wrapper .post date {
  font-size: 1em;
  margin: 0;
}

/* line 10, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#posts_wrapper .post h2 {
  margin: 0;
  font-size: 1.25em;
  text-transform: uppercase;
}

/* line 16, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#posts_wrapper .post h2 a {
  text-decoration: none;
  color: #424652;
}

/* line 21, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#posts_wrapper .post h2 a:hover {
  color: #8bc6db;
}

/* line 25, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#posts_wrapper .post hr {
  margin: 3em auto;
  color: #8bc6db;
}

/* line 30, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#post_show_content header {
  text-align: center;
}

/* line 34, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#post_show_content header .date {
  font-size: .9em;
  color: #9a9da4;
  margin: 0;
}

/* line 40, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#post_show_content header h1 {
  margin: 0;
}

/* line 44, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#post_show_content hr {
  margin: 3em auto;
}

/* line 48, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#share_box {
  text-align: center;
}

/* line 52, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#share_box p {
  padding: 0 0 1em 0;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #424652;
  font-size: .8em;
}

/* line 61, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#share_box i {
  color: #424652;
  padding: 1em 1.5em;
}

/* line 66, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
#share_box i:hover {
  color: #8bc6db;
  cursor: pointer;
}

/* line 71, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}

/* line 77, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
.pagination:after {
  clear: both;
}

/* line 81, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
.pagination {
  text-align: center;
  margin: 0 0 3em 0;
}

/* line 86, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
.pagination a,
.pagination .previous_page,
.pagination .current,
.pagination .next_page {
  padding: .75em 1em;
  margin: 0 .5em;
  border-radius: .15em;
  line-height: 20px;
  text-decoration: none;
  background: #FFFFFF;
  font-weight: 700;
  font-size: .7em;
  font-style: normal;
  color: #424652;
}

/* line 102, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
.pagination a:hover,
.pagination .previous_page:hover,
.pagination .current:hover,
.pagination .next_page:hover {
  background: #8bc6db;
  color: #FFFFFF;
}

/* line 110, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
.pagination .current {
  background: #8bc6db;
  color: #FFFFFF;
}

/* line 115, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
.pagination .disabled {
  color: #C0C0C0;
  background: #FFFFFF;
}

/* line 120, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_posts_projects.scss */
.pagination .disabled:hover {
  color: #C0C0C0;
}

/*
   Some simple Github-like styles, with syntax highlighting CSS via Pygments.
*/
/* line 5, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
pre {
  background-color: #eee;
  padding: 1.5rem 3.5%;
  margin: 2rem 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
}

/* line 15, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
code {
  background-color: #eee;
  padding: 1px 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 23, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.hll {
  background-color: #ffffcc;
}

/* line 27, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 35, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 43, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.k {
  color: #000000;
  font-weight: bold;
}

/* Keyword */
/* line 51, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.o {
  color: #000000;
  font-weight: bold;
}

/* Operator */
/* line 59, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 67, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.cp {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Preproc */
/* line 76, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 84, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 93, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 101, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.ge {
  color: #000000;
  font-style: italic;
}

/* Generic.Emph */
/* line 109, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 116, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.gh {
  color: #999999;
}

/* Generic.Heading */
/* line 123, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 131, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.go {
  color: #888888;
}

/* Generic.Output */
/* line 138, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 145, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 152, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 159, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 166, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.kc {
  color: #000000;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 174, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.kd {
  color: #000000;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 182, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.kn {
  color: #000000;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 190, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.kp {
  color: #000000;
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 198, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.kr {
  color: #000000;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 206, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 214, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.m {
  color: #009999;
}

/* Literal.Number */
/* line 221, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.s {
  color: #d01040;
}

/* Literal.String */
/* line 228, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.na {
  color: #008080;
}

/* Name.Attribute */
/* line 235, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.nb {
  color: #0086B3;
}

/* Name.Builtin */
/* line 242, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 250, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.no {
  color: #008080;
}

/* Name.Constant */
/* line 257, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.nd {
  color: #3c5d5d;
  font-weight: bold;
}

/* Name.Decorator */
/* line 265, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.ni {
  color: #800080;
}

/* Name.Entity */
/* line 272, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 280, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 288, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.nl {
  color: #990000;
  font-weight: bold;
}

/* Name.Label */
/* line 296, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.nn {
  color: #555555;
}

/* Name.Namespace */
/* line 303, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.nt {
  color: #000080;
}

/* Name.Tag */
/* line 310, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.nv {
  color: #008080;
}

/* Name.Variable */
/* line 317, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.ow {
  color: #000000;
  font-weight: bold;
}

/* Operator.Word */
/* line 325, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 332, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.mf {
  color: #009999;
}

/* Literal.Number.Float */
/* line 339, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.mh {
  color: #009999;
}

/* Literal.Number.Hex */
/* line 346, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.mi {
  color: #009999;
}

/* Literal.Number.Integer */
/* line 353, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.mo {
  color: #009999;
}

/* Literal.Number.Oct */
/* line 360, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.sb {
  color: #d01040;
}

/* Literal.String.Backtick */
/* line 367, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.sc {
  color: #d01040;
}

/* Literal.String.Char */
/* line 374, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.sd {
  color: #d01040;
}

/* Literal.String.Doc */
/* line 381, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.s2 {
  color: #d01040;
}

/* Literal.String.Double */
/* line 388, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.se {
  color: #d01040;
}

/* Literal.String.Escape */
/* line 395, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.sh {
  color: #d01040;
}

/* Literal.String.Heredoc */
/* line 402, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.si {
  color: #d01040;
}

/* Literal.String.Interpol */
/* line 409, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.sx {
  color: #d01040;
}

/* Literal.String.Other */
/* line 416, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 423, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.s1 {
  color: #d01040;
}

/* Literal.String.Single */
/* line 430, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.ss {
  color: #990073;
}

/* Literal.String.Symbol */
/* line 437, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 444, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.vc {
  color: #008080;
}

/* Name.Variable.Class */
/* line 451, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.vg {
  color: #008080;
}

/* Name.Variable.Global */
/* line 458, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.vi {
  color: #008080;
}

/* Name.Variable.Instance */
/* line 465, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/pygments.scss */
.il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
/* line 1, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 7, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
.index_view {
  font-weight: bold;
  background: LightGray;
}

/* line 12, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
.nav_bar {
  font-weight: bold;
  background: LightBlue;
}
/* line 15, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
.nav_bar:hover {
  background: DarkCyan;
}

/* line 20, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
.registration_bar {
  font-weight: bold;
  background: LightBlue;
}
/* line 23, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
.registration_bar:hover {
  background: DarkCyan;
}

/* line 28, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
.admin {
  font-weight: bold;
  background: LightPink;
}
/* line 31, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
.admin:hover {
  background: DarkCyan;
}

/* line 36, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
.flash_style {
  font-weight: normal;
  color: #cc3300;
  font-style: italic;
}

/* line 42, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
.body-text p {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.25;
  text-align: justify;
  text-justify: inter-word;
  width: 80%;
  padding: 5px;
}

/* line 52, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
.sidebar-blog {
  margin-right: 5px;
}

/* line 56, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
.rounded {
  border-radius: 25px;
}

@media screen and (max-width: 450px) {
  /* line 62, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
  img.responsive {
    visibility: hidden;
  }
}
@media screen and (max-width: 480px) {
  /* line 66, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
  img.responsive {
    width: 30px;
  }
}
@media screen and (max-width: 827px) {
  /* line 70, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
  img.responsive {
    width: 90px;
  }
}
@media screen and (min-width: 828px) {
  /* line 74, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
  img.responsive {
    width: 150px;
  }
}
/* line 77, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
img.responsive {
  height: auto;
}

/* line 79, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/custom.scss */
.AboutLogo {
  width: 120px;
  height: 60px;
  margin: 0 5px 0 0;
}

/* GRID-BASED LAYOUT */
/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 14, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 32, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 47, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 62, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 74, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 84, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 99, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 116, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 129, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 143, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 153, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 164, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 178, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 187, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 197, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 207, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 215, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 219, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 232, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 242, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 252, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 261, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
/* line 274, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 288, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 300, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 313, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 329, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 342, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 357, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 378, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 390, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 400, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 413, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 424, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 436, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 447, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 464, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 477, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 490, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 499, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 512, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/_normalize.scss */
[hidden] {
  display: none;
}

/* line 8, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
.stretch {
  font-size: 2.5vw;
}

/* line 17, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
* {
  box-sizing: border-box;
}

/* line 21, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
body {
  font-family: 'Calibri', sans-serif;
}

/* line 25, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
.wrapper {
  width: 93%;
  margin: 0 auto;
}

/* line 30, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
.skinny_wrapper {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

/* line 36, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
.wrapper_padding {
  padding: .1rem 0;
}

/* line 40, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 46, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  color: #424652;
}

/* line 58, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
h1 {
  font-size: 1.8rem;
  margin: 1% 0 1% 0;
}

/* line 63, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
h2 {
  font-size: 1.5rem;
  margin: 1% 0 1% 0;
}

/* line 68, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
h3 {
  font-size: 1.3rem;
  margin: 1% 0 1% 0;
}

/* line 73, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
h4 {
  font-size: 1rem;
  margin: 1% 0 1% 0;
}

/* line 78, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
h5 {
  font-size: .9rem;
  margin: 1% 0 1% 0;
}

/* line 83, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
h6 {
  font-size: .7rem;
  margin: 1% 0 1% 0;
}

/* line 88, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
p,
ol,
li,
.date {
  line-height: 1rem;
  margin: 0 0 .9em 0;
  font-size: .85em;
  font-color: #light;
}

/* line 98, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
.ref-text {
  line-height: 1rem;
  margin: 0 0 .9em 0;
  font-size: .77em;
  color: #424652;
}

/* line 105, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
hr {
  width: 108%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  color: #8bc6db;
  margin: 0 0 .5rem 0;
}

/* line 115, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
#tagline {
  line-height: 1rem;
  margin: 0 0 .9em 0;
  font-size: 1em;
  color: red;
}

/* line 122, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
hr-ref {
  width: 6em;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  color: #8bc6db;
  margin: 0 0 .5rem 0;
}

/* line 132, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
#main_nav {
  padding: 1em 5%;
  border-bottom: 1px solid;
  color: #E9E9E9;
}
/* line 136, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
#main_nav .name {
  font-weight: 700;
  font-size: .8em;
  letter-spacing: 2px;
  border: 2px solid #E9E9E9;
  padding: 1rem;
  text-decoration: none;
  color: #424652;
}
/* line 145, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
#main_nav nav {
  float: left;
  padding-top: 0;
}
/* line 148, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
#main_nav nav a {
  color: #424652;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
}
/* line 153, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
#main_nav nav a:hover {
  color: #8bc6db;
}

/* line 160, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
.text_hover:hover {
  color: #424652;
}

/* line 164, /Users/brad/dev/proj/swt-v3/app/assets/stylesheets/application.scss */
#page_title {
  text-align: center;
  border-bottom: 1px solid #E9E9E9;
  padding: 3em 0;
  font-size: 1rem;
  text-transform: uppercase;
}
