<div class="wrapper wrapper_padding clearfix">
<div class="sidebar"><%#= render partial: 'posts/sidebar', locals: { posts: @posts } %></div>
  <div class="col-0">
    <h4>users</h4>
    <hr>
    <table>
      <th>
        <tr><td>username</td><td>email</td></tr>
      </th>
      <% @users.each do |user| %>
        <tr>  
          <td><%= user.username %></td> 
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
