<div class="wrapper wrapper_padding clearfix">
  <div class="col-0 user_signed_in">
    <h4>New User Form</h4>
      <%= render partial: 'users/form', locals: { user: @user } %>
     </p>
  </div>
</div>
