 
 
<div class="wrapper wrapper_padding clearfix">
  <div class="col-0 homepage_content">
    <h4>New User Form</h4>

<%= render partial: 'users/form', locals: { user: @user } %>

     </p>
  </div>
</div>