<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-5">
    <%= render partial: 'projects/sidebar', locals: { projects: @projects } %>
  </div>
  <div class="col-2">
    <% @projects.each do |project| %>
      id:
      <%= project.id %>
        <%= link_to project.name, project_path(project) %>
          <hr>
          <% end %>
  </div>
</div>