<img src="http://res.cloudinary.com/smithwebtek/image/upload/r_28/v1492532740/misc/bradsmith-swt.jpg" alt="bradsmith">
<h4>Brad Smith</h4>
  <p>Full Stack Web Developer<br>
    Ruby on Rails</p>
<hr>
  <a href="mailto:brad@smithWEBtek.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a><strong> brad@smithWEBtek.com</strong><br><br>
  <a href="callto:6034944147"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></a><strong> call 603-494-4147</strong><br><br>
  <a href="http://res.cloudinary.com/smithwebtek/image/upload/v1492360381/misc/postal_mail.pdf"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a><strong> 24 Servant Street<br>Bedford, NH 03110</strong><br><br>
  <a href="http://twitter.com/smithwebtek" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a><strong> Twitter</strong><br>
  <br>
  <a href="http://linkedin.com/in/smithwebtek" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a><strong> LinkedIn</strong><br><br>
  <a href="http://github.com/smithwebtek" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a><strong> GitHub</strong>
</p>