<img src="http://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_1363/v1516389815/DSC00071_vjo8te.jpg" height="130"
  width="130" alt="bradsmith">

<h1>Brad Smith</h1>
<h4>Full Stack Web Developer</h4>
<br>
<h5>
  Ruby on Rails
</h5>
<h5>
  JavaScript, React, Redux
</h5>
<h5>
  Design and Prototyping
</h5>
<h5>
  SQL Server BI and Analytics
</h5>
<h5>
  Point of Sale solutions
</h5>
<br>


<hr>
<h5>code
  <a href="https://github.com/smithwebtek" target="_blank">
    <i class="fa fa-github fa-2x" aria-hidden="true" style="margin: 6px"></i>
  </a>
</h5>
<br>

<h5>social
  <a href="https://linkedin.com/in/smithwebtek" target="_blank">
    <i class="fa fa-linkedin fa-2x" aria-hidden="true" style="margin: 6px"></i>
  </a>
  <a href="https://twitter.com/smithwebtek" target="_blank">
    <i class="fa fa-twitter fa-2x" aria-hidden="true" style="margin: 6px"></i>
  </a>
  <a href="https://www.facebook.com/smithpiano" target="_blank">
    <i class="fa fa-facebook fa-2x" aria-hidden="true" style="margin: 6px"></i>
  </a>
</h5>
<br>

<h5>contact
  <a href="mailto:brad@smithWEBtek.com">
    <i class="fa fa-envelope fa-2x" aria-hidden="true" style="margin: 6px"></i>
  </a>
  <a href="callto:6034944147">
    <i class="fa fa-phone fa-2x" aria-hidden="true" style="margin: 6px"></i>
  </a>
  <a href="https://res.cloudinary.com/smithwebtek/image/upload/v1492360381/misc/postal_mail.pdf">
    <i class="fas fa-address-card fa-2x" aria-hidden="true" style="margin: 6px"></i>
  </a>
</h5>