<img src="http://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_1363/v1516389815/DSC00071_vjo8te.jpg" height="130"
  width="130" alt="bradsmith" class="sidebar-margin">

<h1>Brad Smith</h1>
<h4>Full Stack Web Developer</h4>
<br>
<a href="https://github.com/smithwebtek" target="_blank">
  <i class="fa fa-github fa-1x" aria-hidden="true" style="margin: 6px"></i>
</a>
<a href="https://linkedin.com/in/smithwebtek" target="_blank">
  <i class="fa fa-linkedin fa-1x" aria-hidden="true" style="margin: 6px"></i>
</a>
<a href="mailto:brad@smithWEBtek.com">
  <i class="fa fa-envelope fa-1x" aria-hidden="true" style="margin: 6px"></i>
</a>
<a href="callto:6034944147">
  <i class="fa fa-phone fa-1x" aria-hidden="true" style="margin: 6px"></i>
</a>
<a href="https://twitter.com/smithwebtek" target="_blank">
  <i class="fa fa-twitter fa-1x" aria-hidden="true" style="margin: 6px"></i>
</a>
<hr>
<br/>
<h5>
  Ruby on Rails
</h5>
<h5>
  JavaScript, React, Redux
</h5>
<h5>
  Design and Prototyping
</h5>
<h5>
  SQL Server BI and Analytics
</h5>
<h5>
  Point of Sale solutions
</h5>
<br>
<hr>