<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4">
    <%= render partial: 'layouts/sidebar' %><!-- use a custom sidebar partial if needed -->
  </div>
  <div class="col-3">
    <h3>smithWEBtek</h3>
    <h5>boring sites brilliant data | your data, logic and multiple views in your browser and on your phone.</h5>
    <hr>
    <br>

    <img src="http://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_50/a_270/v1492532006/misc/sm-keyboard.png" alt="piano-keys-image">
    
    <a href="http://network.online.berklee.edu/public_profile/smithpiano" alt='berklee-bradsmith-page' target='_blank'><img src="http://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_200/v1492528792/misc/berklee.gif" alt="berklee-logo"></a>
    <img src="http://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_90/v1492532374/misc/coding4.jpg" alt="coding">
    <p>As a professional musician and piano technician, I came to web development through tweaking software in my business (website, contact management, online scheduling, goal planning, music notation and 3D design-build).</p>
    <br>

    <a href="http://www.pragmaticworks.com" target='_blank'><img src="http://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_180/v1492529633/misc/pw-logo.png" alt="pragmatic-works-logo"></a>

    <a href="https://powerbi.microsoft.com/en-us/partner-showcase/pragmaticworks-medicare/" target='_blank'><img src="http://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_204/v1492528414/misc/msbi.png" alt='microsoft'></a>
    <p>Five years as a Consulting Sales Engineer (MS SQL Server business intelligence) exposed me to the complete cycle of delivering consulting services on business data, logic and the presentation layer.</p>
  
    <a href="http://www.flatironschool.com" target='_blank'><img src="http://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_100/v1492529790/misc/flatiron-logo.jpg" alt="flatiron-logo"></a>
    <p>After training on Full Stack Web Development with Flatiron School, I started a web development practice, combining my business chops with web technologies to solve problems.</p>
    <h3>smithWEBtek</h3>
    <strong>functional sites with data you can actually use.</strong>
  <br><br><br>
    
  </div>
</div>
