<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4 sidebar-margin">
    <%= render partial: 'static/about_sidebar' %>
  </div>
  <div class="col-3 copy-text">

    <h4>About Brad Smith</h4>
    <hr>
    <h4>
      <p>Brad is a full stack web developer focused on data driven applications, coding Ruby on Rails, JavaScript, React and
        Redux. As a graduate of the Flatiron School's Full Stack Web Development program, he has created and contributed
        to over 600 repositories on Github over the past 3 years, writing thousands of lines of working code.
      </p>
      <p>Brad has a passion for data models, prototyping, leveraging APIs and solving problems through web applications.</p>

      <p>Brad has 5 years of experience as a consulting sales engineer with the SQL Server BI technologies, quantifying technical
        requirements and over 20 years experience as a small business owner delivering technical services directly to businesses
        and consumers.</p>
      <p>
        Prior to involvement with programming, Brad was professional pianist, teacher and piano technician, having built his own
        business to over 2000 customers in the Boston area. His love of technology, 3D modelling software, contact management
        applications and online appointment scheduling inspired his interest in pursuing a technology career.
      </p>
      <p>Brad has a strong work ethic, a passion for constantly learning new technologies and a heart for teaching.</p>
      <a href="https://www.flatironschool.com" target='_blank' style="margin: 10px">
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_100/v1492529790/misc/flatiron-logo.jpg" alt="flatiron-logo"
          style="margin: 10px">
      </a>
      <a href="https://www.pragmaticworks.com" target='_blank'>
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_180/v1492529633/misc/pw-logo.png" alt="pragmatic-works-logo"
          style="margin: 10px">
      </a>
      <a href="https://powerbi.microsoft.com/en-us/partner-showcase/pragmaticworks-medicare/" target='_blank'>
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_204/v1492528414/misc/msbi.png" alt='microsoft'>
      </a>
      <h4>
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_50/a_270/v1492532006/misc/sm-keyboard.png" alt="piano-keys-image">

        <a href="https://network.online.berklee.edu/public_profile/smithpiano" alt='berklee-bradsmith-page' target='_blank'>
          <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_200/v1492528792/misc/berklee.gif" alt="berklee-logo">
        </a>

        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_90/v1492532374/misc/coding4.jpg" alt="coding">
      </h4>
  </div>
</div>