 <div class="wrapper wrapper_padding clearfix">
 <div class="sidebar homepage_content"><%= render partial: 'layouts/sidebar' %></div>
    <div class="col-0 homepage_content">
      <h4>smithWEBtek: </h4>
      <strong>boring sites brilliant data.</strong><br>
      <p>Web-based solutions connecting data sources, complex logic and multiple data views in your browser and on your phone.</p>
 
      <hr>
      <p>A life long learner in professional music and piano technology, I came to web development through constantly tweaking the software systems around my various businesses, especially in contact relationship management, goal planning and 3D design/build projects.

      <p>Five years as Consulting Sales Engineer on the Microsoft SQL Server Business Intelligence stack, schooled me in business logic, data sources, presentation layer and the entire consulting / technical sales cycle. </p>

      <p>In 2015, I decided to pursue my own technical practice of 'open-source' web development unlimited by Microsoft or a corporate management/sales layer. Full Stack Web Development via Flatiron School in NYC, enabled me to combine my business experience with web technologies to solve business problems through the browser.
      </p>
      <p>As my great-grandfather would have said while plowing his fields: <strong>"...son, a plain site with accurate and refreshable data is far preferable to a fancy site with data you can't use".</strong>
      <p>Likey he would then spit out whatever he was chewing on to spread manure. (like a caffeinated Microsoft rep on a conference call).</p>
    </div>
<!--     <div class="col-2 homepage_content">
      <h2>section2</h2>
    </div>
    <div class="col-3 homepage_content">
      <h2>section3</h2>
    </div> -->
  </div>