<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4">
    <%= render partial: 'static/about_sidebar' %>
  </div>
  <div class="col-3">
 
    <h4>About Brad Smith</h4>
    <hr>
    <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_50/a_270/v1492532006/misc/sm-keyboard.png" alt="piano-keys-image">
    
    <a href="https://network.online.berklee.edu/public_profile/smithpiano" alt='berklee-bradsmith-page' target='_blank'><img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_200/v1492528792/misc/berklee.gif" alt="berklee-logo"></a>

    <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_90/v1492532374/misc/coding4.jpg" alt="coding">
    <h4>
    As a professional musician and piano technician, I came to web development through tweaking software in my business (website, contact management, online scheduling, goal planning, music notation and 3D design-build).</h4>
    <br> 
    <a href="https://www.pragmaticworks.com" target='_blank'><img src="http://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_180/v1492529633/misc/pw-logo.png" alt="pragmatic-works-logo"></a>

    <a href="https://powerbi.microsoft.com/en-us/partner-showcase/pragmaticworks-medicare/" target='_blank'><img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_204/v1492528414/misc/msbi.png" alt='microsoft'></a>
    <h4>Five years as a Consulting Sales Engineer (MS SQL Server Business Intelligence) exposed me to the complete cycle of delivering consulting services on business data, logic and the presentation layer.</h4>
    <h4>
      <a href="https://www.flatironschool.com" target='_blank'><img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_100/v1492529790/misc/flatiron-logo.jpg" alt="flatiron-logo"></a>
    After training on Full Stack Web Development with Flatiron School, I started a web development practice, combining business chops with web technologies to solve business data problems.</h4>
    <hr>
    <hr>
    <h3>smithWEBtek</h3>
    <h4><em>your data & logic, in your browser and on your phone</em></h4>
  </div>
</div>
