<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4 sidebar-margin">
    <%= render partial: 'static/about_sidebar' %>
  </div>
  <div class="col-3 copy-text">

    <h3>About Brad Smith</h3>
    <hr>
    <h4>
      <p>I am a full stack web developer focused on data driven applications, coding in Ruby on Rails, JavaScript, React and
        Redux. As a graduate of the Flatiron School's Full Stack Web Development program, I have created and contributed
        to over 600 repositories on Github over the past 3 years, writing thousands of lines of working code.
      </p>
      <p>My passion is data models, prototyping, leveraging APIs and solving problems through web applications.</p>

      <h3>Q: What brought you to web development?</h3>
      <p>Prior to Flatiron School I spent five years as a Consulting Sales Engineer for Pragmatic Works (a well known consulting
        company leading in the Microsoft SQL Server BI technologies). My work was to quantify technical requirements for
        clients with data issues, crafting detailed technical contracts and Statements of Work. I matched skills, schedules,
        personalties and client expectations for a group of thirty expert consultants and financial reporting for consulting
        revenue of a million dollars every month.</p>

      <p>I really cherish the time I spent in the Microsoft SQL Server world, but ultimately I decided that the opportunities
        with open source web development would be a better future for my creative and entreprenurial growth.
      </p>

      <h3>Q: Your background?</h3>
      <p>
        My background before Pragmatic Works was in music, concert piano technical services (tuning,refining sound, dealing with
        concert artists) and design-build inventions with 3D modelling. For example, I built a one-man piano moving system
        moving over 1000 pianos with tools and machines that I designed 3D modeling software. </p>

      <p>I was an early adopter of online appointment scheduling in 2003 for piano service appointments. This saved me 10-12
        hours per week of phone time. My fascination with databases, contact management systems and the web all propelled
        me to move into fulltime technology work. As a result, web application development is my passion for solving business
        problems through the browser and rich data sources.</p>

      <h3>Q:Your degree?</h3>
      <p>I have a BA degree in Professional Music (Berklee College of Music, Boston). I am also a professional pianist, teacher
        and piano technician, having built a client list of over 2000 customers in the Boston area by myself over a 20 year
        period. My love of technology, 3D modelling, contact management, databases, musical notation software and online
        appointment scheduling inspired me to pursue a technology career.</p>

      <p>So I am here in web development because I want to be and because I LOVE it. I am not encumbered by dogmatic thinking
        or life burnout that might be a byproduct of a Computer Science degree and 10 years of programming in a corporation.
        On the contrary, I actually LOVE programming, battling bugs, trying to push software to new functionality and pushing
        brain to grasp a higher quantity and quality of knowledge. As a craftsman and musician, I know what it means to spend
        years developing skills and I see programming as another very creative outlet and life skill. I cannot imagine a
        more enjoyable day than 10-12 hours of intense coding and working with experienced free thinkers who push me to learn
        more.
      </p>
      <a href="https://www.flatironschool.com" target='_blank' style="margin: 10px">
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_100/v1492529790/misc/flatiron-logo.jpg" alt="flatiron-logo"
          style="margin: 10px">
      </a>
      <a href="https://www.pragmaticworks.com" target='_blank'>
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_180/v1492529633/misc/pw-logo.png" alt="pragmatic-works-logo"
          style="margin: 10px">
      </a>
      <a href="https://powerbi.microsoft.com/en-us/partner-showcase/pragmaticworks-medicare/" target='_blank'>
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_204/v1492528414/misc/msbi.png" alt='microsoft'>
      </a>
      <h4>
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_50/a_270/v1492532006/misc/sm-keyboard.png" alt="piano-keys-image">

        <a href="https://network.online.berklee.edu/public_profile/smithpiano" alt='berklee-bradsmith-page' target='_blank'>
          <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_200/v1492528792/misc/berklee.gif" alt="berklee-logo">
        </a>

        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_90/v1492532374/misc/coding4.jpg" alt="coding">
      </h4>
  </div>
</div>