<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4 sidebar-margin">
    <%= render 'layouts/contact' %>
      <br />
      <br />
      <br />
      <%= render 'layouts/card' %>
  </div>
  <div class="col-3 body-text">

    <h3>About Brad Smith</h3>
    <hr>
    <p>
      <strong>My passion is data models, prototyping, leveraging APIs and solving business problems through web applications.</strong>
    </p>
    <p>I am a full stack web developer focused on data driven applications, coding primarily with Ruby on Rails, JavaScript,
      React and Redux. As a graduate of the Flatiron School's Full Stack Web Development program, over the past 3 years I
      have produced thousands of lines of working code, and I love it!</p>

    <h4>Q: What brought you to web development?</h4>
    <p>Prior to Flatiron School I spent five years as a Consulting Sales Engineer for Pragmatic Works ( a leader in the Microsoft
      SQL Server BI stack). I started out in tech support for SQL Server and the suite of software tools created by Pragmatic
      Works, following a path towards becoming a technical consultant on the SQL Server BI stack technologies. Based on the
      company's need at the time, my role evolved to a combination of technical and sales engineering where I worked with
      directly with clients defining requirements consulting engagements, I crafting technical contracts.
      <p>
        I matched skills, schedules, personalties and client expectations for a group of thirty very seasoned consultants at the
        top of their game with SQL Server, many of whom moved on to work directly for Microsoft. I also managed the invoicing
        and financial reporting for consulting revenue averaging one million dollars monthly. </p>
      <p>
        While I enjoyed my years in the Microsoft SQL Server space, I decided that open source web development (more coding, less
        selling) was the future I wanted both personally and professionally.
      </p>

      <h4>Q: Your background?</h4>
      <p>I have a BA degree in Professional Music (Berklee College of Music, Boston, MA), and I am a professional pianist, teacher
        and piano technician with a client list of over 1200 customers in the Boston area. As an early adopter of online
        appointment scheduling for piano service appointments, my fascination with databases, contact management systems
        and the web all propelled me to move into fulltime technology work, starting with SQL Server and now focusing on
        web application development.
      </p>
      <h4>Q: Your outlook?</h4>
      <p>I am in web development by choice because I LOVE programming, debugging errors and pushing my knowledge. I am still
        thrilled with the idea that I can help people through coding, making an honest living with my creative mind, instead
        of being limited by physical work.
      </p>
      <p>
        As a craftsman and musician, I know what it means to spend years developing skills and I see programming the same way.
        <strong>My perfect day?</strong> 10-12 hours of intense coding, creating functionality that is useful, pertinent, practical,
        ergonomic and intuitive and pushing it all to GitHub.
      </p>
      <a href="https://www.flatironschool.com" target='_blank' style="margin: 10px">
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_100/v1492529790/misc/flatiron-logo.jpg" alt="flatiron-logo"
          style="margin: 0 0 0">
      </a>
      <a href="https://www.pragmaticworks.com" target='_blank'>
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_180/v1492529633/misc/pw-logo.png" alt="pragmatic-works-logo"
          style="margin: 10px">
      </a>
      <a href="https://powerbi.microsoft.com/en-us/partner-showcase/pragmaticworks-medicare/" target='_blank'>
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_204/v1492528414/misc/msbi.png" alt='microsoft'>
      </a>
      <a href="https://network.online.berklee.edu/public_profile/smithpiano" alt='berklee-bradsmith-page' target='_blank'>
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_200/v1492528792/misc/berklee.gif" alt="berklee-logo">
      </a>
  </div>
</div>