<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4 sidebar-margin">
    <%= render 'layouts/contact' %>
      <br />
      <br />
      <br />
      <%= render 'layouts/card' %>
  </div>
  <div class="col-3 copy-text">

    <h3>About Brad Smith</h3>
    <hr>
    <p>
      <strong>My passion is data models, prototyping, leveraging APIs and solving business problems through web applications.</strong>
    </p>
    <p>I am a full stack web developer focused on data driven applications, coding primarily with Ruby on Rails, JavaScript,
      React and Redux. As a graduate of the Flatiron School's Full Stack Web Development program, over the past 3 years I
      have produced thousands of lines of working code, and I love it!</p>

    <h4>Q: What brought you to web development?</h4>
    <p>Prior to Flatiron School I spent five years as a Consulting Sales Engineer for Pragmatic Works ( a leader in the Microsoft
      SQL Server BI stack), where I worked with clients to define requirements for business intelligence analytics. I crafted
      detailed technical contracts, matching skills, schedules, personalties and client expectations for a group of thirty
      expert consultants, in addition to invoicing and financial reporting for consulting revenue averaging one million dollars
      monthly. While I do cherish the time I spent in the Microsoft SQL Server world, but I decided that the opportunities
      in open source web development would be a better future for my creative and entreprenurial growth.
    </p>

    <h4>Q: Your background?</h4>
    <p>I have a BA degree in Professional Music (Berklee College of Music, Boston, MA), and I am a professional pianist, teacher
      and piano technician with a client list of over 2000 customers in the Boston area. I was an early adopter of online
      appointment scheduling for piano service appointments. My fascination with databases, contact management systems and
      the web all propelled me to move into fulltime technology work, starting with SQL Server and now focusing on web application
      development.
    </p>
    <h4>Q: Your outlook?</h4>
    <p>I am in web development by choice because I LOVE programming, debugging errors and pushing my brain to grasp a higher
      quantity and quality of knowledge. As a craftsman and musician, I know what it means to spend years developing skills
      and I see programming as another very creative outlet. I cannot imagine a more enjoyable day than 10-12 hours of intense
      coding, working with other experienced developers who push me to learn more.
    </p>
    <a href="https://www.flatironschool.com" target='_blank' style="margin: 10px">
      <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_100/v1492529790/misc/flatiron-logo.jpg" alt="flatiron-logo"
        style="margin: 0 0 0">
    </a>
    <a href="https://www.pragmaticworks.com" target='_blank'>
      <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_180/v1492529633/misc/pw-logo.png" alt="pragmatic-works-logo"
        style="margin: 10px">
    </a>
    <a href="https://powerbi.microsoft.com/en-us/partner-showcase/pragmaticworks-medicare/" target='_blank'>
      <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_204/v1492528414/misc/msbi.png" alt='microsoft'>
    </a>
    <a href="https://network.online.berklee.edu/public_profile/smithpiano" alt='berklee-bradsmith-page' target='_blank'>
      <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_200/v1492528792/misc/berklee.gif" alt="berklee-logo">
    </a>
  </div>
</div>