<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4 user_signed_in">
    <%= render partial: 'layouts/sidebar' %><!-- use a custom sidebar partial if needed -->
  </div>
  <div class="col-3 user_signed_in">
    <h4>about Brad Smith/smithWEBtek</h4>
    <strong>boring sites brilliant data</strong><br>
    <p>Your data, logic and multiple data views in your browser and on your phone.</p>
    <hr>
    <p>As a professional musician and piano technician, I came to web development through tweaking software in my business (website, contact management, goal planning, music notation and 3D design-build). 

    <p>Five years as a Consulting Sales Engineer (MS SQL Server business intelligence) exposed me to the complete cycle of delivering consulting services on business data, logic and the presentation layer.</p>

    <p>After training on Full Stack Web Development with Flatiron School, I started a web development practice, combining my business chops with web technologies to solve problems.</p>
    <strong>The Goal: Functional sites with data you can actually use.</strong>
  <br><br><br>
    
  </div>
</div>
