<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4 sidebar-margin">
    <%= render 'layouts/contact' %>
      <br />
      <br />
      <br />
      <%= render 'layouts/card' %>
  </div>
  <div class="col-3 body-text">

    <h3>About Brad Smith</h3>
    <hr>
    <p>
      <strong>I am obsessed with data models, prototyping, leveraging APIs and solving problems through coding web applications.</strong>
    </p>
    <p>I am a full stack web developer focused on data driven applications, coding primarily with Ruby on Rails, JavaScript,
      React and Redux. As a graduate of the
      <a href="https://flatironschool.com/">Flatiron School</a> Full Stack Web Development program, over the past 3 years I have produced thousands of lines of
      working code, and I love it!</p>

    <h4>Q: What brought you to web development?</h4>
    <p>Prior to Flatiron I worked for 5 years as a Consulting Sales Engineer for
      <a href="https://pragmaticworks.com/">Pragmatic Works</a> ( a leader in the Microsoft SQL Server BI stack). I started out in tech support QA for the Pragmatic
      Works SQL Server tools, following a path to become a Business Intelligence consultant. Based on the company's need
      at the time, my role evolved to a combination of technical and sales engineering.
    </p>
    <p>
      I qualified and diagnosed clients requirements for data analytics consulting engagements, crafted technical contracts while
      managing skillsets, schedules, personalties and client expectations for a group of thirty very seasoned consultants,
      many of whom now work directly for Microsoft. I also managed the invoicing and financial reporting for consulting revenue
      averaging one million dollars monthly.</p>
    <p>
      While I enjoyed my years in the Microsoft SQL Server space, I decided that open source web development (more coding, less
      selling) was the future I wanted both personally and professionally.
    </p>

    <h4>Q: Your background?</h4>
    <p>I have a BA degree in Professional Music from
      <a href="https://www.berklee.edu/">Berklee College of Music</a>, and I am a professional pianist, teacher and piano technician with a client list of over
      1200 customers in the Boston area. </p>
    <p>As an early adopter of online appointment scheduling for piano service appointments, my fascination with databases, contact
      management systems and the web all propelled me to move into fulltime technology work, starting with SQL Server and
      now focusing on open source web development.
    </p>
    <h4>Q: Your outlook?</h4>
    <p>I am a developer by choice because I LOVE programming, debugging errors and pushing my knowledge both for fun and profit.
      As a relative newcomer to tech work over the past 7 years I have maintained the initial joy of coding and learning.
      I have learned dozens of languages, configurations, idiosyncracies of a variety of technologies. So I believe that
      there is no technology that I cannot learn to a functional level within 30 days.
      <h4>What else?</h4>
      <p>I am teachable, love Asian food, long walks on the beach, have good hygiene and a great sense of humor, married with
        a wonderful wife and two great kids. I have run my own business for many years with the simple rule of focusing first
        on what my client needs, whether it is profitable to me or not. That has proven to be very profitable.
      </p>
      <p>
        As a craftsman and musician, I know what it means to spend years developing skills and I see programming the same way.
        <strong>My perfect day?</strong> 10-12 hours of intense coding, creating functionality that is useful, pertinent, practical,
        ergonomic and intuitive and pushing it all to GitHub.
      </p>
      <a href="https://www.flatironschool.com" target='_blank' style="margin: 10px">
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_100/v1492529790/misc/flatiron-logo.jpg" alt="flatiron-logo"
          style="margin: 0 0 0">
      </a>
      <a href="https://www.pragmaticworks.com" target='_blank'>
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_180/v1492529633/misc/pw-logo.png" alt="pragmatic-works-logo"
          style="margin: 10px">
      </a>
      <a href="https://powerbi.microsoft.com/en-us/partner-showcase/pragmaticworks-medicare/" target='_blank'>
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_204/v1492528414/misc/msbi.png" alt='microsoft'>
      </a>
      <a href="https://network.online.berklee.edu/public_profile/smithpiano" alt='berklee-bradsmith-page' target='_blank'>
        <img src="https://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_200/v1492528792/misc/berklee.gif" alt="berklee-logo">
      </a>
  </div>
</div>