<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4 sidebar-margin">
    <%= render 'layouts/contact' %>
      <br />
      <br />
      <%= render 'layouts/card' %>
  </div>
  <div class="col-3 body-text">

    <h4>About Brad Smith</h4>
    <hr>
    <p>As a graduate of the
      <a href="https://flatironschool.com/">Flatiron School</a> Full Stack Web Development program, over the past 3 years I have produced thousands of lines of
			working code, and I love it!</p>

    <p>My passion is combining business logic with data models, prototyping new solutions, leveraging APIs and solving problems by coding web applications. I have developed prototype CRM applications for service companies, retail stores, personal productivity and an interactive application for managing a music teaching studio.</p>

		<p>I am an active participant in <a href="CodeForBoston">http://www.codeforboston.org/</a>, coding on civic projects to benefit Boston and Cambridge, through the <a href="https://brigade.codeforamerica.org/">CodeForAmerica network.</a></p>

    <h4>Q: What brought you to web development?</h4>
    <p>Prior to Flatiron I worked for <strong>five years as a Consulting Sales Engineer</strong> for
      <a href="https://pragmaticworks.com/">Pragmatic Works</a> ( a leader in the Microsoft SQL Server BI stack). I started out in tech support QA for the Pragmatic
      Works SQL Server tools, following a path to become a Business Intelligence consultant. Based on the business need
      at the time, my role evolved to a combination of technical and sales engineering.
    </p>
    <p>
      I qualified and diagnosed clients requirements for data analytics consulting engagements, crafted technical contracts while
      managing skillsets, schedules, personalties and client expectations for a group of thirty very seasoned consultants,
      many of whom now work for Microsoft. I also managed the invoicing and financial reporting for consulting revenue averaging
      one million dollars monthly.</p>
    <p>
      While I enjoyed my years in the Microsoft SQL Server space,
      <strong> I decided that open source web development</strong> (more coding, less selling) was the future I wanted both personally
      and professionally.
    </p>

    <h4>Q: Your background?</h4>
    <p>I have a BA degree in Professional Music from
      <a href="https://www.berklee.edu/">Berklee College of Music</a>, working for many years as a professional pianist, teacher and piano technician, having
      built my own technical practice of 1200 customers in the Boston area. </p>
    <p>As an early adopter of web appointment scheduling for piano service appointments, my fascination with databases, contact
      management systems and web design drew me to fulltime technology work, beginning with SQL Server and now focusing on
      open source web development.
    </p>
    <h4>Q: Your outlook?</h4>
    <p>
      <strong>I am a web developer by choice,</strong> because I enjoy dreaming up features, implementing them into code, debugging
      and making things work. I like to help people, I am 'teachable' and I can listen. I treat people that are different
      from me like fellow human beings, with empathy and a sense of humor. I'm married to a wonderful wife and have two great
      kids.
    </p>

    <p>As a self-employed business owner, I think about my client's problems before I think about my own. As a craftsman and
      musician, I know what it means to spend years developing the intellectual, physical and mental stamina to master extremely
      difficult skills, and I see programming as my craft.</p>
    <p>
      <strong>My perfect day?</strong> 10-12 hours of intense coding, creating something useful, relevant, practical, ergonomic,
      intuitive ... and proudly pushing it to GitHub.
    </p>
    <br />
    <a href="https://www.flatironschool.com" target='_blank' style="margin: 10px">
      <img src="http://res.cloudinary.com/smithwebtek/image/upload/v1516827805/swt/flatiron.png" alt="flatiron-logo" class="AboutLogo responsive"
        width="150px">
    </a>
    <a href="https://www.pragmaticworks.com" target='_blank'>
      <img src="http://res.cloudinary.com/smithwebtek/image/upload/v1516827805/swt/pragmatic.png" alt="pragmatic-works-logo" class="AboutLogo responsive"
        width="150px">
    </a>
    <a href="https://powerbi.microsoft.com/en-us/partner-showcase/pragmaticworks-medicare/" target='_blank'>
      <img src="http://res.cloudinary.com/smithwebtek/image/upload/v1516827805/swt/microsoft.png" alt='microsoft' class="AboutLogo responsive"
        width="150px">
    </a>
    <a href="https://network.online.berklee.edu/public_profile/smithpiano" alt='berklee-bradsmith-page' target='_blank'>
      <img src="http://res.cloudinary.com/smithwebtek/image/upload/v1516827805/swt/berklee.png" alt="berklee-logo" class="AboutLogo responsive"
        width="150px">
    </a>
  </div>
</div>