<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar col-4 sidebar-margin">
    <%= render 'layouts/contact' %>
      <br />
      <br />
      <br />
      <%= render 'layouts/card' %>
			</div>
			<div class="col-3 body-text">
			<h4>Hello, I'm Brad Smith</h4>
			<h5>Welcome to my blog and project site!</h5>
    <hr>
    <p>I am a full stack web developer coding data driven web applications, primarily with Ruby on Rails, JavaScript, React
			and Redux.</p>
   </div>
</div>