 <div class="wrapper wrapper_padding clearfix">
    <div class="col-1 homepage_content">
      <h2>hello!</h2>
      <hr>
      <p>A life long learner in professional music and piano technology, I came to web development through constantly tweaking the software systems around my various businesses, especially in contact relationship management, goal planning and 3D design/build projects.

      <p>Five years as Consulting Sales Engineer on the Microsoft SQL Server Business Intelligence stack, schooled me in business logic, data sources, presentation layer and the entire consulting / technical sales cycle. </p>

      <p>In 2015, I began to pursue a technical practice through 'open-source' web development without the constraints of Microsoft or a corporate environment as an expensive middleman. The Full Stack Web Development program at Flatiron School in NYC, enabled me to combine my experience with web technologies to solve business problems through code and the browser.
      </p>
      <p>The focus of 'smithWEBtek' is to provide complete data solutions for individuals, organizations and businesses who need to connect disparate data sources, business logic and multiple views of their data through the browser.
      </p>
      As my great grandfather would have said while looking up from plowing his fields: "....son, a plain website with accurate and refreshable data is far preferable to a fancy site with data you can't use". Likely, he would have then spit out whatever he was chewing on and proceed to spread manure. (very similar to what happends on a well attended Microsoft technical call).</p>
    </div>
    <div class="col-2 homepage_content">
      <h2>Projects</h2>
      <hr>
      <h5><a href="#">Diet-Tracker</a></h5>
      <p class="date">Mar 15, 2017</p>
      <h5><a href="#">Pool Service CMS</a></h5>
      <p class="date">Feb 15, 2017</p>
      <h5><a href="#">Job-CRM</a></h5>
      <p class="date">Jan 15, 2017</p>
      <h5><a href="#">Goal Manager</a></h5>
      <p class="date">Sep 15, 2016</p>
    </div>
    <div class="col-3 homepage_content">
      <h2>Articles</h2>
      <hr>
      <h5><a href="#">Cambridge Crash Data</a></h5>
      <p class="date">Dec 15, 2016</p>
      <h5><a href="#">Student Sinatra App</a></h5>
      <p class="date">Aug 15, 2016</p>
      <h5><a href="#">Piano Search CLI gem</a></h5>
      <p class="date">Feb 15, 2016</p>
    </div>
  </div>
  <div style="clear: both"></div>
  <footer id="main_footer">
    <p class="copyright">&copy;2017 smithWEBtek
      <a href="http://twitter.com/smithwebtek" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
      <a href="http://linkedin.com/in/smithwebtek" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
      <a href="http://github.com/smithwebtek" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
    </p>
  </footer>