  <div class="wrapper wrapper_padding clearfix">
    <div class="col-1 homepage_content">
      <h2>Recent</h2>
      <hr>
      <p>Fast approaching the end of an intensive year of study, projects are starting to emerge. Checkout <%= link_to 'posts', posts_path %>  and <%= link_to 'projects', projects_path %> for recent activity</p>
      <p>To submit a request for a prototype,<%= link_to "please use this form.", new_project_path %></p>
    </div>
    <div class="col-2 homepage_content">
      <h2>Posts</h2>
      <hr>
      <h5><a href="#">Diet-Tracker</a></h5>
      <p class="date">Mar 15, 2017</p>
      <h5><a href="#">Pool Service CMS</a></h5>
      <p class="date">Feb 15, 2017</p>
      <h5><a href="#">Job-CRM</a></h5>
      <p class="date">Jan 15, 2017</p>
      <h5><a href="#">Goal Manager</a></h5>
      <p class="date">Sep 15, 2016</p>
    </div>
    <div class="col-3 homepage_content">
      <h2>Projects</h2>
      <hr>
      <h5><a href="#">Diet Tracker</a></h5>
      <p class="date">Jan 20, 2017</p>
      <h5><a href="#">Student Sinatra App</a></h5>
      <p class="date">Aug 15, 2016</p>
      <h5><a href="#">Piano Search CLI gem</a></h5>
      <p class="date">Feb 15, 2016</p>
    </div>
  </div>