<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar homepage_content">
    <%= render partial: 'layouts/sidebar' %><!-- use a custom sidebar partial if needed -->
  </div>
  <div class="col-0 homepage_content">
    <h4>projects</h4>
    <strong>boring sites brilliant data</strong><br>
    <p>current and past projects</p>
    <hr>
    <p>lorem hipster knippshun flarb</p>
  </div>
</div>
