<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar homepage_content">
    <%= render partial: 'layouts/sidebar' %><!-- use a custom sidebar partial if needed -->
  </div>
  <div class="col-0 homepage_content">
    <h4>tools</h4>
    <strong>boring sites brilliant data</strong><br>
    <p>find it, build it, save it, use it again</p>
    <hr>
    <p>collection place for often used web tools</p>
  </div>
</div>
