<div class="wrapper wrapper_padding clearfix">
  <div class="sidebar homepage_content">
    <%= render partial: 'layouts/sidebar' %><!-- use a custom sidebar partial if needed -->
  </div>
  <div class="col-0 homepage_content">
    <h4>wiki</h4>
    <strong>free up brain space: store info in the browser</strong><br>
    <p>my library of books, links, sites and knowledge as I collect and collate it</p>
    <hr>
  </div>
</div>
