<% posts.sort.reverse.each do |post| %>
  <div style="height: 30 px" class="sidebar-margin">
    <%= link_to post.title, post_path(post) %>
  </div>
  <hr>
  <% end %>

    <!-- <%= render partial: 'layouts/contact' %> -->