<div id="share_box">
  <p>Share <%= post.title %></p>
  <a onclick="javascript:window.open('http://twitter.com/share?text=<%= post.title %> by @smithWEBtek = &amp;url=<%= url_for([post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
  <i class="fa fa-twitter"></i>
</a>

<a href="#"><i class="fa fa-facebook"></i>
<a href="#"><i class="fa fa-google-plus"></i>
</div>
