<div class="wrapper wrapper_padding clearfix">
<div class="sidebar col-4"><%= render partial: 'posts/index_sidebar', locals: { posts: @posts } %></div>
  <div class="col-3">
    <h4>blog</h4>
    <hr>
    <strong>adventures in web development</strong><br>
      <p>
      Choose a post from the left sidebar.
    </p>
  </div>
</div>
