<div class="wrapper wrapper_padding clearfix">
  <div class="col-0 homepage_content">
    <h4>New Post Form</h4>
      <%= render partial: 'posts/form', locals: { post: @post } %>
     </p>
  </div>
</div>
