  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-ref {
    float: left;
  }
  
  .sidebar {
    font-size: .85em;
    float: left;
    width: 20%;
    padding: 3% 2% 0 .5%;
  }
  
  .col-1 {
    width: 95%;
    padding: 2%;
  }
  
  .col-2 {
    width: 50%;
    padding: 2%;
  }
  
  .col-3 {
    width: 75%;
    padding: 2%;
  }
  
  .col-4 {
    width: 20%;
    padding: 2%;
  }
  
  .col-ref {
    width: 13%;
    padding: 1%;
  }
  
  a {
    color: navy;
    font-weight: 700;
    text-decoration: none;
  }
  
  a:hover {
    color: darkblue
  }
  
  #main_footer {
    padding: 2.5em 5%;
    border-top: 1px solid #9a9da4;
  }
  
  #main_footer .copyright {
    float: left;
    font-size: .9em;
    margin: 0;
  }
  
  #main_footer nav {
    float: left;
  }
  
  #main_footer nav i {
    margin-left: 1em;
    padding-top: .2em;
  }
  
  #main_footer a {
    color: navy;
    font-weight: 700;
    text-decoration: none;
  }
  
  #main_footer a:hover {
    color: cyan;
  }
  
  #main_footer {
    padding: 2.5em 5%;
    border-top: 1px solid #9a9da4;
  }
  
  #main_footer .copyright {
    float: left;
    font-size: .9em;
    margin: 0;
  }
  
  #main_footer nav {
    float: right;
  }
  
  #main_footer nav i {
    margin-left: 1em;
    padding-top: .2em;
  }
  
  #main_footer a {
    color: navy;
    font-weight: 700;
    text-decoration: none;
  }
  
  #main_footer a:hover {
    color: cyan;
  }
