   .col-1,
   .col-2,
   .col-3,
   .col-4 {
     float: left;
   }
   
   .sidebar {
     font-size: .85em;
     float: left;
     width: 20%;
     padding: 3% 2% 0 .5%;
   }
   
   .col-0 {
     float: left;
     width: 80%;
     padding: 2% 5% 0 2.5%;
   }
   
   .col-1 {
     width: 45%;
     padding: 0 5% 0 2.5%;
   }
   
   .col-2,
   .col-3 {
     width: 27.5%;
     padding: 0 2.5;
   }
   
   .col-4 {
     width: 30%;
   }
   
   .homepage_content h2 {
     font-size: 1.2rem;
     text-transform: uppercase;
   }
   
   .homepage_content h3 {
     font-size: 1em;
     font-weight: 400;
     margin-bottom: .5em;
   }
   
   .homepage_content a {
     text-decoration: none;
     color: #424652;
   }
   
   .homepage_content a:hover {
     color: #8bc6db;
   }
   
   .homepage_content p {
     font-size: .7rem;
     margin: 0 0 .75em 0;
   }
   
   .homepage_content .date {
     font-size: .85em;
     margin-bottom: .2em;
     font-color: #light;
   }
   
   .about {
     padding: 0 7.5% 0 0;
   }
   
   a {
     color: navy;
     font-weight: 700;
     text-decoration: none;
   }
   
   a:hover {
     color: #highlight;
   }
   
   #main_footer {
     padding: 2.5em 5%;
     border-top: 1px solid #9a9da4;
   }
   
   #main_footer .copyright {
     float: left;
     font-size: .9em;
     margin: 0;
   }
   
   #main_footer nav {
     float: right;
   }
   
   #main_footer nav i {
     margin-left: 1em;
     padding-top: .2em;
   }
   
   #main_footer a {
     color: navy;
     font-weight: 700;
     text-decoration: none;
   }
   
   #main_footer a:hover {
     color: cyan;
   }
   
   .col-1,
   .col-2,
   .col-3 {
     float: left;
   }
   
   .col-1 {
     width: 45%;
     padding: 0 5% 0 2.5%;
   }
   
   .col-2,
   .col-3 {
     width: 27.5%;
     padding: 0 2.5;
   }
   
   .homepage_content h2 {
     font-size: 1.1rem;
     text-transform: uppercase;
   }
   
   .homepage_content h3 {
     font-size: 1.35em;
     font-weight: 400;
     margin-bottom: .5em;
   }
   
   .homepage_content a {
     text-decoration: none;
     color: #424652;
   }
   
   .homepage_content a:hover {
     color: #8bc6db;
   }
   
   .homepage_content p {
     font-size: 1.1rem;
     margin: 0 0 .75em 0;
   }
   
   .homepage_content .date {
     font-size: .85em;
     margin-bottom: .2em;
     font-color: #light;
   }
   
   .about {
     padding: 0 7.5% 0 0;
   }
   
   a {
     color: navy;
     font-weight: 700;
     text-decoration: none;
   }
   
   a:hover {
     color: #highlight;
   }
   
   #main_footer {
     padding: 2.5em 5%;
     border-top: 1px solid #9a9da4;
   }
   
   #main_footer .copyright {
     float: left;
     font-size: .9em;
     margin: 0;
   }
   
   #main_footer nav {
     float: right;
   }
   
   #main_footer nav i {
     margin-left: 1em;
     padding-top: .2em;
   }
   
   #main_footer a {
     color: navy;
     font-weight: 700;
     text-decoration: none;
   }
   
   #main_footer a:hover {
     color: cyan;
   }
