  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    float: left;
  }
  
  .sidebar {
    font-size: .85em;
    float: left;
    width: 20%;
    padding: 3% 2% 0 .5%;
  }
  
  .col-1 {
    width: 95%;
    padding: 2%;
  }
  
  .col-2 {
    width: 50%;
    padding: 2%;
  }
  
  .col-3 {
    width: 75%;
    padding: 2%;
  }
  
  .col-4 {
    width: 25%;
    padding: 2%;
  }
  
  .about {
    padding: 0 7.5% 0 0;
  }
  
  a {
    color: navy;
    font-weight: 700;
    text-decoration: none;
  }
  
  a:hover {
    color: #highlight;
  }
  
  #main_footer {
    padding: 2.5em 5%;
    border-top: 1px solid #9a9da4;
  }
  
  #main_footer .copyright {
    float: left;
    font-size: .9em;
    margin: 0;
  }
  
  #main_footer nav {
    float: right;
  }
  
  #main_footer nav i {
    margin-left: 1em;
    padding-top: .2em;
  }
  
  #main_footer a {
    color: navy;
    font-weight: 700;
    text-decoration: none;
  }
  
  #main_footer a:hover {
    color: cyan;
  }
  
  .user_signed_in {
    a {
      text-decoration: none;
      color: #424652;
    }
    a:hover {
      color: #8bc6db;
    }
    p {
      font-size: .9rem;
      margin: 0 0 .75em 0;
    }
    .date {
      font-size: .85em;
      margin-bottom: .2em;
      font-color: #light;
    }
    a {
      color: navy;
      font-weight: 700;
      text-decoration: none;
    }
    a:hover {
      color: #highlight;
    }
  }
  
  #main_footer {
    padding: 2.5em 5%;
    border-top: 1px solid #9a9da4;
  }
  
  #main_footer .copyright {
    float: left;
    font-size: .9em;
    margin: 0;
  }
  
  #main_footer nav {
    float: right;
  }
  
  #main_footer nav i {
    margin-left: 1em;
    padding-top: .2em;
  }
  
  #main_footer a {
    color: navy;
    font-weight: 700;
    text-decoration: none;
  }
  
  #main_footer a:hover {
    color: cyan;
  }
