.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.index_view {
  font-weight: bold;
  background: LightGray;
}

.nav_bar {
  font-weight: bold;
  background: LightBlue;
  &:hover {
    background: DarkCyan;
  }
}

.registration_bar {
  font-weight: bold;
  background: LightBlue;
  &:hover {
    background: DarkCyan;
  }
}

.admin {
  font-weight: bold;
  background: LightPink;
  &:hover {
    background: DarkCyan;
  }
}

.flash_style {
  font-weight: normal;
  color: #cc3300;
  font-style: italic;
}

.body-text p {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.25;
  text-align: justify;
  text-justify: inter-word;
  width: 80%;
}

.sidebar-margin {
  margin-right: 10px;
}

.rounded {
  border-radius: 25px;
}
 

@media screen and (max-width:480px){
  img.responsive {width: 30px;}
}

@media screen and (max-width:827px){
  img.responsive {width: 90px;}
}

@media screen and (min-width:828px){
  img.responsive{width: 150px;}
}

img.responsive{height: auto;}