<div class="wrapper wrapper_padding clearfix">
<div class="sidebar col-4"><%= render partial: 'refs/refs_sidebar', locals: { refs: @refs }%></div>
  <div class="col-2">
    <h4>Refs</h4>
    <hr>
      <p>
     <% @refs.each do |ref| %>
      <strong>name:</strong> <%= link_to ref.name, ref_path(ref) %><br>
      <strong>url:</strong> <%= link_to ref.name, ref.url %><br>
      <strong>format:</strong> <%= ref.format %><br><br>
     <% end %>
    </p>
  </div>
</div>

