<div class="container">
	<div class="row">
		<div class="ref-text col-ref">
		<h3>Bookmarks</h3>
		<hr>
		<% @bookmarks.each do |bookmark|%>
			<h5><%= link_to bookmark.title, bookmark.url %></h5>
			<br>
		<% end %>
		</div>
			
		<div class="ref-text col-ref">
		<h3>Books</h3>
		<hr>
		<% @books.each do |book| %>
			<h5><%= link_to book.title, ref_path(book.id) %></h5>
			<br>
		<% end %>
		</div>
	</div>
</div>