<img src="http://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_1363/v1516389815/DSC00071_vjo8te.jpg" height="180"
  width="180" style="border-radius: 5px" alt="bradsmith" class="sidebar-margin">
<br />
<br />
<h1 class="stretch rounded">Brad Smith</h1>
<h4>Full Stack Web Developer</h4>
<h5>
  Ruby on Rails, JavaScript
</h5>
<h5>
  React - Redux
</h5>
<h5>
  Design
</h5>
</p>