<img src="http://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_1363/v1516389815/DSC00071_vjo8te.jpg" width="150px"
  height="150px" style="border-radius: 5px" alt="bradsmith" class="sidebar-blog responsive">

<br />
<br />
<h3>Brad Smith</h3>
<h6>Full Stack Web Developer</h6>
<br />
<hr />
<h6>Ruby, jQuery, JavaScript</h6>
<h6>Ruby on Rails</h6>
<h6>React - Redux</h6>
<h6>Database Design</h6>
<h6>Website Design</h6>
<br />
<br />
<h4>
<a href="http://res.cloudinary.com/smithwebtek/image/upload/v1520096193/BradSmith-resume-v11_vxprsr.pdf" target="_blank">Download Resume</a>
</h4>
<br />
<br />
<p>
  <em>Coding?
    <br />Just like playing the piano. You push the right keys at the right time.
    <br /> -Brad Smith</em>
</p>
</p>