<div style="clear: both"></div>
<p>
  <a href="http://github.com/smithwebtek" target="_blank">
    <i class="fa fa-github fa-lg" aria-hidden="true" style="margin: 0 6px"></i>
  </a>
  <a href="http://linkedin.com/in/smithwebtek" target="_blank">
    <i class="fa fa-linkedin fa-lg" aria-hidden="true" style="margin: 0 6px"></i>
  </a>
  <a href="http://twitter.com/smithwebtek" target="_blank">
    <i class="fa fa-twitter fa-lg" aria-hidden="true" style="margin: 0 6px"></i>
  </a>
  <a href="https://www.facebook.com/smithpiano" target="_blank">
    <i class="fa fa-facebook fa-lg" aria-hidden="true" style="margin: 0 6px"></i>
  </a>
</p>
</div>